USE [TimesheetDB]
GO
/****** Object:  Table [dbo].[ProjectAssignments]    Script Date: 02-01-2026 16:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjectCodeId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProjectAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectCodes]    Script Date: 02-01-2026 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[ProjectName] [nvarchar](max) NOT NULL,
	[ClientName] [nvarchar](max) NOT NULL,
	[IsBillable] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimesheetDatas]    Script Date: 02-01-2026 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimesheetDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[WeekStartDate] [date] NOT NULL,
	[WeekEndDate] [date] NOT NULL,
 CONSTRAINT [PK_TimesheetDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimesheetEntries]    Script Date: 02-01-2026 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimesheetEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimesheetId] [int] NOT NULL,
	[ProjectCodeId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_TimesheetEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimesheetEntryHours]    Script Date: 02-01-2026 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimesheetEntryHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimesheetEntryId] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[HoursWorked] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TimesheetEntryHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-01-2026 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProjectAssignments] ON 

INSERT [dbo].[ProjectAssignments] ([Id], [UserId], [ProjectCodeId], [StartDate], [EndDate]) VALUES (1, 1, 1, CAST(N'2025-12-29T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[ProjectAssignments] ([Id], [UserId], [ProjectCodeId], [StartDate], [EndDate]) VALUES (2, 1, 3, CAST(N'2025-12-28T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-31T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProjectAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectCodes] ON 

INSERT [dbo].[ProjectCodes] ([Id], [Code], [ProjectName], [ClientName], [IsBillable], [IsActive]) VALUES (1, N'PROJ.1', N'Project1', N'Client 1', 1, 1)
INSERT [dbo].[ProjectCodes] ([Id], [Code], [ProjectName], [ClientName], [IsBillable], [IsActive]) VALUES (2, N'PROJ.2', N'Project 2', N'Client 2', 1, 1)
INSERT [dbo].[ProjectCodes] ([Id], [Code], [ProjectName], [ClientName], [IsBillable], [IsActive]) VALUES (3, N'PROJ.3', N'Project 3', N'Client 3', 1, 0)
SET IDENTITY_INSERT [dbo].[ProjectCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[TimesheetDatas] ON 

INSERT [dbo].[TimesheetDatas] ([Id], [UserId], [WeekStartDate], [WeekEndDate]) VALUES (1, 1, CAST(N'2025-12-29' AS Date), CAST(N'2026-01-04' AS Date))
SET IDENTITY_INSERT [dbo].[TimesheetDatas] OFF
GO
SET IDENTITY_INSERT [dbo].[TimesheetEntries] ON 

INSERT [dbo].[TimesheetEntries] ([Id], [TimesheetId], [ProjectCodeId], [Description], [Comment], [Status]) VALUES (1, 1, 1, N'TS Entry for proj 1', N'', 2)
SET IDENTITY_INSERT [dbo].[TimesheetEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[TimesheetEntryHours] ON 

INSERT [dbo].[TimesheetEntryHours] ([Id], [TimesheetEntryId], [WorkDate], [HoursWorked]) VALUES (1, 1, CAST(N'2025-12-29' AS Date), CAST(8.00 AS Decimal(18, 2)))
INSERT [dbo].[TimesheetEntryHours] ([Id], [TimesheetEntryId], [WorkDate], [HoursWorked]) VALUES (2, 1, CAST(N'2025-12-30' AS Date), CAST(7.00 AS Decimal(18, 2)))
INSERT [dbo].[TimesheetEntryHours] ([Id], [TimesheetEntryId], [WorkDate], [HoursWorked]) VALUES (3, 1, CAST(N'2025-12-31' AS Date), CAST(4.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TimesheetEntryHours] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Role], [Email], [Password], [IsActive]) VALUES (1, N'Madhuri', 1, N'madhuri@gmail.com', N'madhuri', 1)
INSERT [dbo].[Users] ([Id], [Name], [Role], [Email], [Password], [IsActive]) VALUES (2, N'Rachana', 1, N'rachana@gmail.com', N'rachana', 1)
INSERT [dbo].[Users] ([Id], [Name], [Role], [Email], [Password], [IsActive]) VALUES (3, N'Subrata', 1, N'subrata@gmail.com', N'subrata', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ProjectAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAssignments_ProjectCodes_ProjectCodeId] FOREIGN KEY([ProjectCodeId])
REFERENCES [dbo].[ProjectCodes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectAssignments] CHECK CONSTRAINT [FK_ProjectAssignments_ProjectCodes_ProjectCodeId]
GO
ALTER TABLE [dbo].[ProjectAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAssignments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectAssignments] CHECK CONSTRAINT [FK_ProjectAssignments_Users_UserId]
GO
ALTER TABLE [dbo].[TimesheetDatas]  WITH CHECK ADD  CONSTRAINT [FK_TimesheetDatas_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimesheetDatas] CHECK CONSTRAINT [FK_TimesheetDatas_Users_UserId]
GO
ALTER TABLE [dbo].[TimesheetEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimesheetEntries_ProjectCodes_ProjectCodeId] FOREIGN KEY([ProjectCodeId])
REFERENCES [dbo].[ProjectCodes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimesheetEntries] CHECK CONSTRAINT [FK_TimesheetEntries_ProjectCodes_ProjectCodeId]
GO
ALTER TABLE [dbo].[TimesheetEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimesheetEntries_TimesheetDatas_TimesheetId] FOREIGN KEY([TimesheetId])
REFERENCES [dbo].[TimesheetDatas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimesheetEntries] CHECK CONSTRAINT [FK_TimesheetEntries_TimesheetDatas_TimesheetId]
GO
ALTER TABLE [dbo].[TimesheetEntryHours]  WITH CHECK ADD  CONSTRAINT [FK_TimesheetEntryHours_TimesheetEntries_TimesheetEntryId] FOREIGN KEY([TimesheetEntryId])
REFERENCES [dbo].[TimesheetEntries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimesheetEntryHours] CHECK CONSTRAINT [FK_TimesheetEntryHours_TimesheetEntries_TimesheetEntryId]
GO
